In [4]:
import pandas as pd
import pickle

In [7]:
enron_data = pickle.load(open("ud120-projects/final_project/final_project_dataset.pkl", "r"))

In [10]:
len(enron_data)

146

In [14]:
len(enron_data[enron_data.keys()[:1][0]])

21

In [19]:
df = pd.DataFrame(enron_data).transpose()

In [20]:
df.shape

(146, 21)

In [21]:
df.head()

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
ALLEN PHILLIP K,4175000,2869717,-3081055,NaN,phillip.allen@enron.com,1729541,13868,2195,47,65,...,304805,152,False,126027,-126027,201955,1407,2902,4484442,1729541
BADUM JAMES P,NaN,178980,NaN,NaN,NaN,257817,3486,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,182466,257817
BANNANTINE JAMES M,NaN,NaN,-5104,NaN,james.bannantine@enron.com,4046157,56301,29,39,0,...,NaN,864523,False,1757552,-560222,477,465,566,916197,5243487
BAXTER JOHN C,1200000,1295738,-1386055,NaN,NaN,6680544,11200,NaN,NaN,NaN,...,1586055,2660303,False,3942714,NaN,267102,NaN,NaN,5634343,10623258
BAY FRANKLIN R,400000,260455,-201641,NaN,frank.bay@enron.com,NaN,129142,NaN,NaN,NaN,...,NaN,69,False,145796,-82782,239671,NaN,NaN,827696,63014

In [22]:
sum(df.poi == True)

18

In [95]:
cat ud120-projects/final_project/poi_names.txt

http://usatoday30.usatoday.com/money/industries/energy/2005-12-28-enron-participants_x.htm

(y) Lay, Kenneth
(y) Skilling, Jeffrey
(n) Howard, Kevin
(n) Krautz, Michael
(n) Yeager, Scott
(n) Hirko, Joseph
(n) Shelby, Rex
(n) Bermingham, David
(n) Darby, Giles
(n) Mulgrew, Gary
(n) Bayley, Daniel
(n) Brown, James
(n) Furst, Robert
(n) Fuhs, William
(n) Causey, Richard
(n) Calger, Christopher
(n) DeSpain, Timothy
(n) Hannon, Kevin
(n) Koenig, Mark
(y) Forney, John
(n) Rice, Kenneth
(n) Rieker, Paula
(n) Fastow, Lea
(n) Fastow, Andrew
(y) Delainey, David
(n) Glisan, Ben
(n) Richter, Jeffrey
(n) Lawyer, Larry
(n) Belden, Timothy
(n) Kopper, Michael
(n) Duncan, David
(n) Bowen, Raymond
(n) Colwell, Wesley
(n) Boyle, Dan
(n) Loehr, Christopher

In [28]:
!wc ud120-projects/final_project/poi_names.txt

      37     106     748 ud120-projects/final_project/poi_names.txt

In [35]:
df.ix['PRENTICE JAMES', 'total_stock_value']

1095040

In [37]:
df.ix['COLWELL WESLEY', 'from_this_person_to_poi']

11

In [43]:
df.ix['SKILLING JEFFREY K']

bonus                                        5600000
deferral_payments                                NaN
deferred_income                                  NaN
director_fees                                    NaN
email_address                jeff.skilling@enron.com
exercised_stock_options                     19250000
expenses                                       29336
from_messages                                    108
from_poi_to_this_person                           88
from_this_person_to_poi                           30
loan_advances                                    NaN
long_term_incentive                          1920000
other                                          22122
poi                                             True
restricted_stock                             6843672
restricted_stock_deferred                        NaN
salary                                       1111258
shared_receipt_with_poi                         2042
to_messages                                     3627
total_payments                               8682716
total_stock_value                           26093672
Name: SKILLING JEFFREY K, dtype: object

In [48]:
df.index[df.index.str.find("LAY") > -1]

Index([u'LAY KENNETH L'], dtype='object')

In [64]:
df.ix[['SKILLING JEFFREY K', 'LAY KENNETH L', 'FASTOW ANDREW'], ["exercised_stock_options", "bonus", "long_term_incentive", "salary", "total_payments"]]

,exercised_stock_options,bonus,long_term_incentive,salary,total_payments
SKILLING JEFFREY K,19250000,5600000,1920000,1111258,8682716
LAY KENNETH L,34348384,7000000,3600000,1072321,103559793
FASTOW ANDREW,NaN,NaN,NaN,NaN,NaN

In [73]:
df[df['salary'] != 'NaN'].shape

(95, 21)

In [74]:
df[df['email_address'] != 'NaN'].shape

(111, 21)

In [79]:
import numpy as np

def featureFormat( dictionary, features, remove_NaN=True, remove_all_zeroes=True, remove_any_zeroes=False, sort_keys = False):
    """ convert dictionary to numpy array of features
        remove_NaN = True will convert "NaN" string to 0.0
        remove_all_zeroes = True will omit any data points for which
            all the features you seek are 0.0
        remove_any_zeroes = True will omit any data points for which
            any of the features you seek are 0.0
        sort_keys = True sorts keys by alphabetical order. Setting the value as
            a string opens the corresponding pickle file with a preset key
            order (this is used for Python 3 compatibility, and sort_keys
            should be left as False for the course mini-projects).
        NOTE: first feature is assumed to be 'poi' and is not checked for
            removal for zero or missing values.
    """


    return_list = []

    # Key order - first branch is for Python 3 compatibility on mini-projects,
    # second branch is for compatibility on final project.
    if isinstance(sort_keys, str):
        import pickle
        keys = pickle.load(open(sort_keys, "rb"))
    elif sort_keys:
        keys = sorted(dictionary.keys())
    else:
        keys = dictionary.keys()

    for key in keys:
        tmp_list = []
        for feature in features:
            try:
                dictionary[key][feature]
            except KeyError:
                print "error: key ", feature, " not present"
                return
            value = dictionary[key][feature]
            if value=="NaN" and remove_NaN:
                value = 0
            tmp_list.append( float(value) )

        # Logic for deciding whether or not to add the data point.
        append = True
        # exclude 'poi' class as criteria.
        if features[0] == 'poi':
            test_list = tmp_list[1:]
        else:
            test_list = tmp_list
        ### if all features are zero and you want to remove
        ### data points that are all zero, do that here
        if remove_all_zeroes:
            append = False
            for item in test_list:
                if item != 0 and item != "NaN":
                    append = True
                    break
        ### if any features for a given data point are zero
        ### and you want to remove data points with any zeroes,
        ### handle that here
        if remove_any_zeroes:
            if 0 in test_list or "NaN" in test_list:
                append = False
        ### Append the data point if flagged for addition.
        if append:
            return_list.append( np.array(tmp_list) )

    return np.array(return_list)


def targetFeatureSplit( data ):
    """ 
        given a numpy array like the one returned from
        featureFormat, separate out the first feature
        and put it into its own list (this should be the 
        quantity you want to predict)

        return targets and features as separate lists

        (sklearn can generally handle both lists and numpy arrays as 
        input formats when training/predicting)
    """

    target = []
    features = []
    for item in data:
        target.append( item[0] )
        features.append( item[1:] )

    return target, features

In [85]:
sum(df['total_payments'] == 'NaN') / float(df.shape[0])

0.14383561643835616

In [92]:
sum(df['total_payments'] == 'NaN')

21

In [100]:
f = open('ud120-projects/final_project/poi_names.txt')
f.next()
f.next()
pois = [''.join(line.strip().split()[1:3]).replace(',',' ').upper() for line in f]

In [94]:
21/35.

0.6

In [101]:
pois[:3]

['LAY KENNETH', 'SKILLING JEFFREY', 'HOWARD KEVIN']

In [108]:
name2total_payments = {}
for i, row in df.iterrows():
    name2total_payments[' '.join(i.split(' ')[:2])] = row['total_payments']

In [119]:
x = 0
kes = 0
for poi in pois:
    try:
        print name2total_payments[poi]
        if name2total_payments[poi] == 'NaN':
            x += 1
    except KeyError:
        kes += 1
        continue
print x

103559793
8682716
91093
2003885
1868758
1639297
288682
1587421
505050
1099100
2424083
4747979
5501630
2652612
1490344
0

In [122]:
kes / 35.

0.5714285714285714

In [112]:
name2total_payments.keys()

['METTS MARK',
 'ELLIOTT STEVEN',
 'DETMERING TIMOTHY',
 'MCMAHON JEFFREY',
 'BIBI PHILIPPE',
 'FUGH JOHN',
 'HAYSLETT RODERICK',
 'DIETRICH JANET',
 'SUNDE MARTIN',
 'FASTOW ANDREW',
 'COLWELL WESLEY',
 'MORDAUNT KRISTINA',
 'BANNANTINE JAMES',
 'GAHN ROBERT',
 'FALLON JAMES',
 'KITCHEN LOUISE',
 'CHAN RONNIE',
 'BELFER ROBERT',
 'TOTAL',
 'BAY FRANKLIN',
 'WODRASKA JOHN',
 'DURAN WILLIAM',
 'OLSON CINDY',
 'BAXTER JOHN',
 'HICKERSON GARY',
 'LINDHOLM TOD',
 'LAY KENNETH',
 'SHARP VICTORIA',
 'MEYER ROCKFORD',
 'CAUSEY RICHARD',
 'HERMANN ROBERT',
 'MENDELSOHN JOHN',
 'IZZO LAWRENCE',
 'DELAINEY DAVID',
 'SHERRICK JEFFREY',
 'GATHMANN WILLIAM',
 'SHAPIRO RICHARD',
 'KOENIG MARK',
 'LEWIS RICHARD',
 'MCCARTY DANNY',
 'WHALEY DAVID',
 'DUNCAN JOHN',
 'CHRISTODOULOU DIOMEDES',
 'BERBERIAN DAVID',
 'GIBBS DANA',
 'HUMPHREY GENE',
 'WAKEHAM JOHN',
 'KOPPER MICHAEL',
 'POWERS WILLIAM',
 'GOLD JOSEPH',
 'MCCONNELL MICHAEL',
 'MEYER JEROME',
 'GLISAN JR',
 'UMANOFF ADAM',
 'CUMBERLAND MICHAEL',
 'FREVERT MARK',
 'SHELBY REX',
 'MURRAY JULIA',
 'LAVORATO JOHN',
 'LEMAISTRE CHARLES',
 'DONAHUE JR',
 'SKILLING JEFFREY',
 'ALLEN PHILLIP',
 'BUY RICHARD',
 'WALTERS GARETH',
 'LOWRY CHARLES',
 'MARTIN AMANDA',
 'JACKSON CHARLENE',
 'TAYLOR MITCHELL',
 'WHALLEY LAWRENCE',
 'PIRO JIM',
 'PICKERING MARK',
 'SULLIVAN-SHAKLOVITZ COLLEEN',
 'WROBEL BRUCE',
 'PEREIRA PAULO',
 'OVERDYKE JR',
 'FOY JOE',
 'THE TRAVEL',
 'BADUM JAMES',
 'MCDONALD REBECCA',
 'MORAN MICHAEL',
 'BLACHMAN JEREMY',
 'MCCLELLAN GEORGE',
 'HANNON KEVIN',
 'GARLAND C',
 'GILLIS JOHN',
 'KISHKILL JOSEPH',
 'DEFFNER JOSEPH',
 'BECK SALLY',
 'THORN TERENCE',
 'HUGHES JAMES',
 'KEAN STEVEN',
 'PAI LOU',
 'BLAKE JR.',
 'WINOKUR JR.',
 'LOCKHART EUGENE',
 'BOWEN JR',
 'LEFF DANIEL',
 'SHERRIFF JOHN',
 'HAEDICKE MARK',
 'BAZELIDES PHILIP',
 'COX DAVID',
 'BELDEN TIMOTHY',
 'STABLER FRANK',
 'PIPER GREGORY',
 'PRENTICE JAMES',
 'GRAY RODNEY',
 'CARTER REBECCA',
 'FOWLER PEGGY',
 'WASAFF GEORGE',
 'BERGSIEKER RICHARD',
 'WHITE JR',
 'JAEDICKE ROBERT',
 'BROWN MICHAEL',
 'DERRICK JR.',
 'HORTON STANLEY',
 'WALLS JR',
 'REYNOLDS LAWRENCE',
 'HAUG DAVID',
 'BHATNAGAR SANJAY',
 'YEAP SOON',
 'TILNEY ELIZABETH',
 'REDMOND BRIAN',
 'HAYES ROBERT',
 'YEAGER F',
 'DODSON KEITH',
 'RIEKER PAULA',
 'HIRKO JOSEPH',
 'DIMICHELE RICHARD',
 'RICE KENNETH',
 'KAMINSKI WINCENTY',
 'BUTTS ROBERT',
 'CALGER CHRISTOPHER',
 'URQUHART JOHN',
 'FITZGERALD JAY',
 'GRAMM WENDY',
 'CLINE KENNETH',
 'SCRIMSHAW MATTHEW',
 'SAVAGE FRANK',
 'SHANKMAN JEFFREY',
 'ECHOLS JOHN',
 'CORDES WILLIAM',
 'WESTFAHL RICHARD',
 'BUCHANAN HAROLD',
 'NOLES JAMES',
 'MULLER MARK']

In [111]:
name2total_payments.keys()

['LAY KENNETH',
 'SKILLING JEFFREY',
 'HOWARD KEVIN',
 'KRAUTZ MICHAEL',
 'YEAGER SCOTT',
 'HIRKO JOSEPH',
 'SHELBY REX',
 'BERMINGHAM DAVID',
 'DARBY GILES',
 'MULGREW GARY',
 'BAYLEY DANIEL',
 'BROWN JAMES',
 'FURST ROBERT',
 'FUHS WILLIAM',
 'CAUSEY RICHARD',
 'CALGER CHRISTOPHER',
 'DESPAIN TIMOTHY',
 'HANNON KEVIN',
 'KOENIG MARK',
 'FORNEY JOHN',
 'RICE KENNETH',
 'RIEKER PAULA',
 'FASTOW LEA',
 'FASTOW ANDREW',
 'DELAINEY DAVID',
 'GLISAN BEN',
 'RICHTER JEFFREY',
 'LAWYER LARRY',
 'BELDEN TIMOTHY',
 'KOPPER MICHAEL',
 'DUNCAN DAVID',
 'BOWEN RAYMOND',
 'COLWELL WESLEY',
 'BOYLE DAN',
 'LOEHR CHRISTOPHER']

In [129]:
df.apply(lambda row: row['poi'] and row['total_payments'] == 'NaN', axis=1).sum()

0

In [130]:
df.shape

(146, 21)

In [131]:
(df.total_payments == 'NaN').sum()

21

In [ ]:
enron_data